{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>SIGESMP</title>

<link rel="stylesheet" href="{% static 'mapa/style.css' %}">

</head>

<body>

<header class="encabezado">

    <div class="logo">
        <img src="{% static 'mapa/img/EscudoPNP.png' %}" alt="PNP">
    </div>

    <div class="titulo">

        <h1>SIGESMP</h1>

        <p>
            Sistema Integrado de Gestión para la Ejecución y Seguimiento
            de Medidas de Protección
        </p>

        <small>Comisaría de Familia PNP El Agustino</small>

    </div>

    <div class="logo">
        <img src="{% static 'mapa/img/EscudoDIRFAM.png' %}" alt="DIRFAM">
    </div>

</header>

<nav>

    <!-- INICIO -->
    <a href="{% url 'inicio' %}">
        🗺 Inicio
    </a>


    <!-- ===================================== -->
    <!-- ADMINISTRADOR / JEFE / USUARIO MP -->
    <!-- ===================================== -->

    {% if request.user.is_superuser or request.user.groups.all.0.name == "Administrador" or request.user.groups.all.0.name == "Jefe_MP" or request.user.groups.all.0.name == "Usuario_MP" %}

        <a href="{% url 'gestion_casos' %}">
            📂 Gestión de Casos
        </a>

        <a href="{% url 'mensajes' %}">
            ✉ Mensajes
        </a>

        <a href="{% url 'notificaciones' %}">
            🔔 Alertas
        </a>

    {% endif %}


    <!-- ===================================== -->
    <!-- USUARIO INVESTIGACION -->
    <!-- ===================================== -->

    {% for grupo in request.user.groups.all %}

        {% if grupo.name == "Usuario_Investigacion" %}

            <a href="{% url 'registrar_ubicacion_preliminar' %}">
            📍 Registrar Caso Preliminar
            </a>

        {% endif %}

    {% endfor %}

    <!-- ===================================== -->
    <!-- MAPA DE AGRESORES -->
    <!-- ===================================== -->

    {% if es_admin or es_jefe or es_usuario_mp or es_usuario_investigacion %}

        <a href="{% url 'mapa_agresores' %}">
            🗺️ Mapa de Agresores
        </a>

    {% endif %}


    <!-- ===================================== -->
    <!-- CERRAR SESIÓN -->
    <!-- ===================================== -->

    <a href="{% url 'cerrar_sesion' %}">
        🚪 Cerrar sesión
    </a>

</nav>

<main>

{% block content %}
{% endblock %}

</main>

</body>
</html>