{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Mapa de Agresores</title>

<link rel="stylesheet"
href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<style>

body{
    margin:0;
}

#map{
    height:100vh;
    width:100%;
}

</style>

</head>


<body>

<div id="map"></div>


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>


<script>

var map = L.map('map').setView(
    [-12.04318,-77.02824],
    13
);


L.tileLayer(
'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
).addTo(map);



/*=========================
AGRESORES DEFINITIVOS
NEGRO
=========================*/

{% for agresor in agresores %}

L.circleMarker(
[
{{ agresor.latitud }},
{{ agresor.longitud }}
],
{
    radius:10,
    color:"#000000",
    fillColor:"#000000",
    fillOpacity:0.9
}
)
.addTo(map)
.bindPopup(
`
<b>⚫ AGRESOR DEFINITIVO</b><br><br>

<b>Nombre:</b> {{ agresor.nombres }}<br>

<b>DNI:</b> {{ agresor.dni }}<br>

<b>Alias:</b> {{ agresor.alias }}<br>

<b>Domicilio:</b><br>
{{ agresor.domicilio }}

`
);

{% endfor %}





/*=========================
AGRESORES PRELIMINARES
30 DIAS
MARRÓN
=========================*/


{% for agresor in agresores_preliminares %}


L.circleMarker(
[
{{ agresor.latitud_agresor }},
{{ agresor.longitud_agresor }}
],
{
    radius:10,
    color:"#6b3e1e",
    fillColor:"#8B4513",
    fillOpacity:0.9
}
)
.addTo(map)
.bindPopup(
`
<b>🟤 AGRESOR PRELIMINAR</b><br><br>

<b>Nombre:</b>
{{ agresor.agresor }}<br>

<b>DNI:</b>
{{ agresor.dni_agresor }}<br>

<b>Dirección:</b><br>
{{ agresor.direccion_agresor }}<br><br>

<b>Fecha registro:</b>
{{ agresor.fecha_registro }}

<br><br>


`
);


{% endfor %}


</script>