{% extends "mapa/base.html" %}

{% block content %}

<div class="container mt-4">

<h2>📍 Registro de Ubicación Preliminar</h2>

<p>
    Registre la información proporcionada por la persona beneficiaria
    durante el primer contacto.
</p>

<form method="POST">

    {% csrf_token %}

    <hr>

    <h4>DATOS DE LA PERSONA BENEFICIARIA</h4>

    {{ form.beneficiaria.label_tag }}
    {{ form.beneficiaria }}

    {{ form.dni_beneficiaria.label_tag }}
    {{ form.dni_beneficiaria }}

    {{ form.domicilio.label_tag }}
    {{ form.domicilio }}

    {{ form.referencia.label_tag }}
    {{ form.referencia }}

    <div class="mt-3">

        <h5>
            Seleccione la ubicación de la persona beneficiaria
        </h5>

        <div
            id="mapa-beneficiaria"
            style="height:400px;"
        ></div>

    </div>

    {{ form.latitud }}
    {{ form.longitud }}

    <hr class="mt-4">

    <h4>DATOS CONOCIDOS DE LA PERSONA AGRESORA</h4>

    <p class="text-muted">
        Registre únicamente la información proporcionada por la persona
        beneficiaria durante el primer contacto.
    </p>

    {{ form.agresor.label_tag }}
    {{ form.agresor }}

    {{ form.dni_agresor.label_tag }}
    {{ form.dni_agresor }}

    {{ form.estado_ubicacion_agresor.label_tag }}
    {{ form.estado_ubicacion_agresor }}

    <div id="datos-domicilio-agresor">

        {{ form.direccion_agresor.label_tag }}
        {{ form.direccion_agresor }}

        <div class="mt-3">

            <h5>
                Seleccione la ubicación del agresor en el mapa
            </h5>

            <div
                id="mapa-agresor"
                style="height:400px;"
            ></div>

        </div>

    </div>

    {{ form.latitud_agresor }}
    {{ form.longitud_agresor }}

    <button
        type="submit"
        class="btn btn-success mt-4"
    >
        Guardar ubicación
    </button>

</form>

</div>

<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet/dist/leaflet.css"
/>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>

    // =====================================
    // MAPA DE LA PERSONA BENEFICIARIA
    // =====================================

    var mapaBeneficiaria = L.map(
        'mapa-beneficiaria'
    ).setView(
        [-12.02224, -77.00984],
        14
    );


    L.tileLayer(
        'https://tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
            attribution: 'OpenStreetMap'
        }
    ).addTo(
        mapaBeneficiaria
    );


    var marcadorBeneficiaria;


    mapaBeneficiaria.on(
        'click',
        function(e) {

            var lat = e.latlng.lat;
            var lng = e.latlng.lng;


            if (marcadorBeneficiaria) {

                mapaBeneficiaria.removeLayer(
                    marcadorBeneficiaria
                );

            }


            marcadorBeneficiaria = L.circleMarker(
                [lat, lng],
                {
                    radius:8,
                    color:"#0066ff",
                    fillColor:"#0066ff",
                    fillOpacity:1,
                    weight:2
                }
            ).addTo(
                mapaBeneficiaria
            );


            document.getElementById(
                'id_latitud'
            ).value = lat;


            document.getElementById(
                'id_longitud'
            ).value = lng;

        }
    );


    // =====================================
    // MAPA DE LA PERSONA AGRESORA
    // =====================================

    var mapaAgresor = L.map(
        'mapa-agresor'
    ).setView(
        [-12.02224, -77.00984],
        14
    );


    L.tileLayer(
        'https://tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
            attribution: 'OpenStreetMap'
        }
    ).addTo(
        mapaAgresor
    );


    var marcadorAgresor;


    mapaAgresor.on(
        'click',
        function(e) {

            var lat = e.latlng.lat;
            var lng = e.latlng.lng;


            if (marcadorAgresor) {

                mapaAgresor.removeLayer(
                    marcadorAgresor
                );

            }


            marcadorAgresor = L.circleMarker(
                [lat, lng],
                {
                    radius:8,
                    color:"black",
                    fillColor:"black",
                    fillOpacity:1,
                    weight:2
                }
            ).addTo(
                mapaAgresor
            );


            document.getElementById(
                'id_latitud_agresor'
            ).value = lat;


            document.getElementById(
                'id_longitud_agresor'
            ).value = lng;

        }
    );


    // =====================================
    // MOSTRAR U OCULTAR EL DOMICILIO
    // =====================================

    var estadoUbicacion = document.getElementById(
        'id_estado_ubicacion_agresor'
    );


    var datosDomicilioAgresor = document.getElementById(
        'datos-domicilio-agresor'
    );


    function actualizarUbicacionAgresor() {

        if (
            estadoUbicacion.value ===
            'CONOCIDO'
        ) {

            datosDomicilioAgresor.style.display =
                'block';


            setTimeout(
                function() {

                    mapaAgresor.invalidateSize();

                },
                200
            );

        } else {

            datosDomicilioAgresor.style.display =
                'none';


            document.getElementById(
                'id_direccion_agresor'
            ).value = '';


            document.getElementById(
                'id_latitud_agresor'
            ).value = '';


            document.getElementById(
                'id_longitud_agresor'
            ).value = '';

        }

    }


    estadoUbicacion.addEventListener(
        'change',
        actualizarUbicacionAgresor
    );


    actualizarUbicacionAgresor();

</script>

{% endblock %}