  {% extends "mapa/base.html" %}

{% block content %}

<div class="panel">

<div class="panelTitulo">
📍 Registro de Ubicación Preliminar
</div>


<p style="margin-bottom:25px;">
Registre la información obtenida durante el primer contacto y ubique a las personas relacionadas al hecho.
</p>


<form method="POST">

{% csrf_token %}


<div class="seccion">


<h4>📄 Datos del registro preliminar</h4>


<label>
Tipo de registro
</label>

{{ form.tipo_registro }}



<label>
Tipo de intervención
</label>

{{ form.tipo_intervencion }}



{{ form.latitud }}

{{ form.longitud }}


</div>





<div class="seccion">


<h4>👥 Personas involucradas</h4>


<p>
Registre todas las personas relacionadas al hecho.
Luego se asignarán sus roles:
DENUNCIANTE, PRESUNTA VÍCTIMA, DENUNCIADO o PARTICIPANTE.
</p>



<div id="personas">



<div class="persona card p-3 mb-3">


<h5>
Persona 1
</h5>



<label>
Nombres completos
</label>

<input 
type="text"
name="nombres"
class="form-control"
>



<label>
DNI
</label>

<input 
type="text"
name="dni"
class="form-control"
>



<label>
Teléfono
</label>

<input 
type="text"
name="telefono"
class="form-control"
>



<label>
Dirección
</label>

<input 
type="text"
name="direccion"
class="form-control"
>



<label>
Rol
</label>


<select 
name="rol"
class="form-control rol-persona"
onchange="mostrarMapa(this)"
>


<option value="">
Seleccione rol
</option>


<option value="DENUNCIANTE">
Denunciante
</option>


<option value="PRESUNTA_VICTIMA">
Presunta víctima
</option>


<option value="DENUNCIADO">
Denunciado
</option>


<option value="PARTICIPANTE">
Participante
</option>


</select>



<div 
class="mapa-persona"
style="display:none;height:300px;margin-top:15px;">
</div>



<input 
type="hidden"
name="latitud_persona"
class="latitud-persona"
>



<input 
type="hidden"
name="longitud_persona"
class="longitud-persona"
>



<button
type="button"
class="btn btn-danger mt-2"
onclick="this.parentElement.remove()"
>

❌ Eliminar persona

</button>

</div>
`;

</div>

<button 
type="button"
class="btn btn-secondary"
onclick="agregarPersona()"
>

➕ Agregar otra persona

</button>


</div>





<button
type="submit"
class="btnGuardar"
>

💾 Guardar Registro Preliminar

</button>



</form>


</div>




<link
rel="stylesheet"
href="https://unpkg.com/leaflet/dist/leaflet.css"
/>


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>



<script>


let contadorPersonas = 1;


let mapasPersonas = new Map();



function agregarPersona(){


contadorPersonas++;


let div=document.createElement("div");


div.className="persona card p-3 mb-3";



div.innerHTML=`


<h5>
Persona ${contadorPersonas}
</h5>


<label>
Nombres completos
</label>

<input 
type="text"
name="nombres"
class="form-control"
>


<label>
DNI
</label>

<input 
type="text"
name="dni"
class="form-control"
>


<label>
Teléfono
</label>

<input 
type="text"
name="telefono"
class="form-control"
>


<label>
Dirección
</label>

<input 
type="text"
name="direccion"
class="form-control"
>


<label>
Rol
</label>


<select 
name="rol"
class="form-control rol-persona"
onchange="mostrarMapa(this)"
>


<option value="">
Seleccione rol
</option>


<option value="DENUNCIANTE">
Denunciante
</option>


<option value="PRESUNTA_VICTIMA">
Presunta víctima
</option>


<option value="DENUNCIADO">
Denunciado
</option>


<option value="PARTICIPANTE">
Participante
</option>


</select>



<div 
class="mapa-persona"
style="display:none;height:300px;margin-top:15px;">
</div>



<input 
type="hidden"
name="latitud_persona"
class="latitud-persona"
>


<input 
type="hidden"
name="longitud_persona"
class="longitud-persona"
>


<button
type="button"
class="btn btn-danger mt-2"
onclick="this.parentElement.remove()"
>

❌ Eliminar persona

</button>



`;


document
.getElementById("personas")
.appendChild(div);


}






function mostrarMapa(select){

    let persona = select.closest(".persona");

    let mapaDiv = persona.querySelector(".mapa-persona");

    let latInput = persona.querySelector(".latitud-persona");

    let lngInput = persona.querySelector(".longitud-persona");


    /* Denunciante no tiene mapa */

    if(select.value=="DENUNCIANTE"){

    mapaDiv.style.display="none";

    latInput.value="";
    lngInput.value="";

    let mapa=mapasPersonas.get(persona);

    if(mapa && mapa.marcador){

        mapa.removeLayer(mapa.marcador);

        mapa.marcador=null;

    }

    return;

}


    mapaDiv.style.display="block";


    /*=========================
      OBTENER O CREAR MAPA
    =========================*/

    let mapa = mapasPersonas.get(persona);

    if(!mapa){

        mapa = L.map(mapaDiv).setView(
            [-12.0464,-77.0428],
            13
        );

        L.tileLayer(
            'https://tile.openstreetmap.org/{z}/{x}/{y}.png'
        ).addTo(mapa);

        mapa.marcador = null;

        mapa.on("click",function(e){

            latInput.value = e.latlng.lat;

            lngInput.value = e.latlng.lng;


            if(mapa.marcador){

                mapa.removeLayer(
                    mapa.marcador
                );

            }

            let html = "";


            if(select.value=="PRESUNTA_VICTIMA"){

                html=`
                <div style="
                    width:25px;
                    height:25px;
                    border-radius:50%;
                    background:#0066ff;
                    border:3px solid white;
                    box-shadow:0 0 5px #555;
                "></div>
                `;

            }

            else if(select.value=="DENUNCIADO"){

                html=`
                <div style="
                    width:25px;
                    height:25px;
                    border-radius:50%;
                    background:#8B4513;
                    border:3px solid white;
                    box-shadow:0 0 5px #555;
                "></div>
                `;

            }

            else if(select.value=="PARTICIPANTE"){

                html=`
                <div style="
                    width:25px;
                    height:25px;
                    border-radius:50%;
                    background:linear-gradient(
                        90deg,
                        #0066ff 50%,
                        #8B4513 50%
                    );
                    border:3px solid white;
                    box-shadow:0 0 5px #555;
                "></div>
                `;

            }


            let icono=L.divIcon({

                className:"",

                html:html,

                iconSize:[25,25],

                iconAnchor:[12,12]

            });


            mapa.marcador=L.marker(

                e.latlng,

                {
                    icon:icono
                }

            ).addTo(mapa);

        });

        mapasPersonas.set(
            persona,
            mapa
        );

    }
    

    else{

        setTimeout(function(){

            mapa.invalidateSize();

        },100);

    }

}

</script>



{% endblock %}