{% extends "mapa/base.html" %}

{% block content %}

<div class="panel">

    <div class="panelTitulo">
        📍 Registro de Ubicación Preliminar
    </div>

    <p style="margin-bottom:25px;">
        Registre la información proporcionada por la persona beneficiaria durante el primer contacto.
    </p>

<form method="POST">

{% csrf_token %}

<div class="seccion">

<h3>🔵 Datos de la Persona Beneficiaria</h3>

{{ form.beneficiaria.label_tag }}
{{ form.beneficiaria }}

{{ form.dni_beneficiaria.label_tag }}
{{ form.dni_beneficiaria }}

{{ form.domicilio.label_tag }}
{{ form.domicilio }}

{{ form.referencia.label_tag }}
{{ form.referencia }}

</div>


<div class="seccion">

<h3>🗺 Ubicación de la Persona Beneficiaria</h3>

<p>
Seleccione la ubicación haciendo clic sobre el mapa.
</p>

<div
    id="mapa-beneficiaria"
    class="mapa">
</div>

{{ form.latitud }}
{{ form.longitud }}

</div>


<div class="seccion">

<h3>🔴 Datos de la Persona Agresora</h3>

<p style="color:#666;">

Registre únicamente la información conocida por la persona beneficiaria.

</p>

{{ form.agresor.label_tag }}
{{ form.agresor }}

{{ form.dni_agresor.label_tag }}
{{ form.dni_agresor }}

{{ form.estado_ubicacion_agresor.label_tag }}
{{ form.estado_ubicacion_agresor }}

<div id="datos-domicilio-agresor">

{{ form.direccion_agresor.label_tag }}
{{ form.direccion_agresor }}

<br><br>

<h3>📍 Ubicación del Agresor</h3>

<p>
Seleccione la ubicación si es conocida.
</p>

<div
    id="mapa-agresor"
    class="mapa">
</div>

</div>

{{ form.latitud_agresor }}
{{ form.longitud_agresor }}

</div>


<div class="centrado">

<button
    type="submit"
    class="btnGuardar">

💾 Guardar Registro Preliminar

</button>

</div>

</form>

</div>

<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet/dist/leaflet.css"
/>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>

    // =====================================
    // MAPA DE LA PERSONA BENEFICIARIA
    // =====================================

    var mapaBeneficiaria = L.map(
        'mapa-beneficiaria'
    ).setView(
        [-12.02224, -77.00984],
        14
    );


    L.tileLayer(
        'https://tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
            attribution: 'OpenStreetMap'
        }
    ).addTo(
        mapaBeneficiaria
    );


    var marcadorBeneficiaria;


    mapaBeneficiaria.on(
        'click',
        function(e) {

            var lat = e.latlng.lat;
            var lng = e.latlng.lng;


            if (marcadorBeneficiaria) {

                mapaBeneficiaria.removeLayer(
                    marcadorBeneficiaria
                );

            }


            marcadorBeneficiaria = L.circleMarker(
                [lat, lng],
                {
                    radius:8,
                    color:"#0066ff",
                    fillColor:"#0066ff",
                    fillOpacity:1,
                    weight:2
                }
            ).addTo(
                mapaBeneficiaria
            );


            document.getElementById(
                'id_latitud'
            ).value = lat;


            document.getElementById(
                'id_longitud'
            ).value = lng;

        }
    );


    // =====================================
    // MAPA DE LA PERSONA AGRESORA
    // =====================================

    var mapaAgresor = L.map(
        'mapa-agresor'
    ).setView(
        [-12.02224, -77.00984],
        14
    );


    L.tileLayer(
        'https://tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
            attribution: 'OpenStreetMap'
        }
    ).addTo(
        mapaAgresor
    );


    var marcadorAgresor;


    mapaAgresor.on(
        'click',
        function(e) {

            var lat = e.latlng.lat;
            var lng = e.latlng.lng;


            if (marcadorAgresor) {

                mapaAgresor.removeLayer(
                    marcadorAgresor
                );

            }


            marcadorAgresor = L.circleMarker(
                [lat, lng],
                {
                    radius:8,
                    color:"black",
                    fillColor:"black",
                    fillOpacity:1,
                    weight:2
                }
            ).addTo(
                mapaAgresor
            );


            document.getElementById(
                'id_latitud_agresor'
            ).value = lat;


            document.getElementById(
                'id_longitud_agresor'
            ).value = lng;

        }
    );


    // =====================================
    // MOSTRAR U OCULTAR EL DOMICILIO
    // =====================================

    var estadoUbicacion = document.getElementById(
        'id_estado_ubicacion_agresor'
    );


    var datosDomicilioAgresor = document.getElementById(
        'datos-domicilio-agresor'
    );


    function actualizarUbicacionAgresor() {

        if (
            estadoUbicacion.value ===
            'CONOCIDO'
        ) {

            datosDomicilioAgresor.style.display =
                'block';


            setTimeout(
                function() {

                    mapaAgresor.invalidateSize();

                },
                200
            );

        } else {

            datosDomicilioAgresor.style.display =
                'none';


            document.getElementById(
                'id_direccion_agresor'
            ).value = '';


            document.getElementById(
                'id_latitud_agresor'
            ).value = '';


            document.getElementById(
                'id_longitud_agresor'
            ).value = '';

        }

    }


    estadoUbicacion.addEventListener(
        'change',
        actualizarUbicacionAgresor
    );


    actualizarUbicacionAgresor();

</script>

{% endblock %}